HitssMVC/HitssMVC/Connected Services/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50804/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50804/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50804/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceMiIngresoHitss.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientesDelimitador_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesDelimitador" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientesDelimitador_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesDelimitadorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertProducto" message="tns:IService1_InsertProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertProductoResponse" message="tns:IService1_InsertProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProductos" message="tns:IService1_GetProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductosResponse" message="tns:IService1_GetProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarProducto" message="tns:IService1_BuscarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarProductoResponse" message="tns:IService1_BuscarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateProducto" message="tns:IService1_UpdateProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateProductoResponse" message="tns:IService1_UpdateProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteProducto" message="tns:IService1_deleteProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteProductoResponse" message="tns:IService1_deleteProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCliente" message="tns:IService1_InsertCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertClienteResponse" message="tns:IService1_InsertCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClientes" message="tns:IService1_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientesResponse" message="tns:IService1_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientesDelimitador">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClientesDelimitador" message="tns:IService1_GetClientesDelimitador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientesDelimitadorResponse" message="tns:IService1_GetClientesDelimitador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarCliente" message="tns:IService1_BuscarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarClienteResponse" message="tns:IService1_BuscarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateCliente" message="tns:IService1_UpdateCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateClienteResponse" message="tns:IService1_UpdateCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteCliente" message="tns:IService1_deleteCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteClienteResponse" message="tns:IService1_deleteCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientesDelimitador">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClientesDelimitador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50804/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>